<div class="container mt-5">
    <p>MY WORK</p>
    <h3 class=" mb-5 fw-bold">RECENT WORK</h3>

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="Graphic"routerLinkActive="text-info">Graphic Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="Apps"routerLinkActive="text-info">Apps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="Software"routerLinkActive="text-info">Software</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>

    </div>
</div>