<div class="container-fluid">
    <div class="row vh-100 ">
        <div class="col-md-2 d-flex justify-content-start py-5 align-items-center flex-column text-center">
            <div>
                <img src="../../assets/images/about-BgAkqdr2.jpg" class="w-50 rounded-circle" alt="about">
            </div>
            <div >
                <a href="#" class="header text-decoration-none text-dark">Jackson Ford</a>
                <p><a href="#" class="text-decoration-none">UI/UX/Designer </a> <span>in Philippines</span></p>
                <div class=" d-flex flex-column side-nav">
                    <a class="text-decoration-none "  routerLink="home" routerLinkActive="text-info" >home</a>
                    <a class="text-decoration-none " routerLink="about"routerLinkActive="text-info">about</a>
                    <a class="text-decoration-none " routerLink="skills"routerLinkActive="text-info">skills</a>
                    <a class="text-decoration-none " routerLink="Experience"routerLinkActive="text-info">Experience</a>
                    <a class="text-decoration-none " routerLink="Work"routerLinkActive="text-info">Work</a>
                </div>
            </div>
        </div>
        <div class="col-md-10 "><router-outlet></router-outlet>
        </div>
    </div>