<div class="container">
    <div class="row g-5">
        <div class="col-md-6">
            <div class="card-layer">
                <div class="card-content d-flex flex-column justify-content-evenly align-items-start">
                    <div>
                        <a href="#">Work 02</a>
                        <p>Animation</p>
                    </div>
                    <div class="icons d-flex align-items-center gap-4 ">
                        <i class="fa-solid fa-share-nodes"></i>
                        <div>

                            <i class="fa-regular fa-eye"></i>
                            <span>100</span>
                        </div>
                        <div>

                            <i class="fa-regular fa-heart"></i>
                            <span>49</span>
                        </div>
                    </div>
                </div>
                <div class="card-image cart-background1"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-layer">
                <div class="card-content d-flex flex-column justify-content-evenly align-items-start">
                    <div>
                        <a href="#">Work 02</a>
                        <p>Animation</p>
                    </div>
                    <div class="icons d-flex align-items-center gap-4 ">
                        <i class="fa-solid fa-share-nodes"></i>
                        <div>

                            <i class="fa-regular fa-eye"></i>
                            <span>100</span>
                        </div>
                        <div>

                            <i class="fa-regular fa-heart"></i>
                            <span>49</span>
                        </div>
                    </div>
                </div>
                <div class="card-image cart-background2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-layer">
                <div class="card-content d-flex flex-column justify-content-evenly align-items-start">
                    <div>
                        <a href="#">Work 02</a>
                        <p>Animation</p>
                    </div>
                    <div class="icons d-flex align-items-center gap-4 ">
                        <i class="fa-solid fa-share-nodes"></i>
                        <div>

                            <i class="fa-regular fa-eye"></i>
                            <span>100</span>
                        </div>
                        <div>

                            <i class="fa-regular fa-heart"></i>
                            <span>49</span>
                        </div>
                    </div>
                </div>
                <div class="card-image cart-background3"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-layer">
                <div class="card-content d-flex flex-column justify-content-evenly align-items-start">
                    <div>
                        <a href="#">Work 02</a>
                        <p>Animation</p>
                    </div>
                    <div class="icons d-flex align-items-center gap-4 ">
                        <i class="fa-solid fa-share-nodes"></i>
                        <div>

                            <i class="fa-regular fa-eye"></i>
                            <span>100</span>
                        </div>
                        <div>

                            <i class="fa-regular fa-heart"></i>
                            <span>49</span>
                        </div>
                    </div>
                </div>
                <div class="card-image cart-background4"></div>
            </div>
        </div>
    </div>
</div>